*{
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*If you want it to work in IE*/
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/* NAVIGATION */
header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 10%;
    height: 50px;
    position: fixed;
    z-index: 100;
    background-color: black;
    background-image: url('../img/tweed.png')
}

header h1 {
    color: white;
    font-family: 'Kaushan Script', cursive;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: rbga(40,40,40, 0.1);
    font-size:0;
}

nav li {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.25rem;
    height: 50px;
    width: 120px;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #FFF;
    display: block;
    transition: all 1s;
    line-height: 50px;
}

nav a:hover {
    color:black;
}


/*  MAIN GALLERY*/
.container{
    width:900px;
    margin:0 auto;
    padding-top: 50px;
}

.polaroid {
    position: relative;
    width: 240px;
    display: inline-block;
    margin:20px;
}

.polaroid img {
    width:100%;
    height:auto;
    border: 10px solid #FEF9EF;
    border-bottom: 45px solid #FEF9EF;
    /*h-shadow v-shadow | blur spread color*/
    -webkit-box-shadow: 3px 3px 3px 3px rgba(10,10,10,0.5);
    -moz-box-shadow: 3px 3px 3px 3px rgba(10,10,10,0.5);
    box-shadow: 3px 3px 3px 3px rgba(10,10,10,0.5);
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 10px;
    font: 400 18px 'Kaushan Script', cursive;
    color: #888;
}

/* TRANSFORMS */

.rotateLeft, .scaleUniform, .scaleX, .skewX, .rotX {
    transition: all 2s ease-in-out;
}

.rotateLeft {
    transform: rotate(-10deg);
    transform-origin: 50% 50%;
}

.rotateLeft:hover {
    transform: rotate(10deg);
}

.scale2x {
    transform: scale(2);
    z-index: 20;
}

.scaleX {
    transform: scale(2,1);
}

.skewX {
    transform: skewX(20deg);
}

.skewY {
    transform: skewY(20deg);
}

.skewBoth {
    transform: skew(-45deg, 4deg);
}

.rotX {
transform: rotateX(45deg);
}

.rotY {
    transform: rotateY(45deg);
}

.rotZ {
    transform: rotateZ(45deg);
}













